
<script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC48rbUFM3d3klqr64YvtjpZ5ZArpzl4Xw",
    authDomain: "angularheroes-2565e.firebaseapp.com",
    databaseURL: "https://angularheroes-2565e.firebaseio.com",
    projectId: "angularheroes-2565e",
    storageBucket: "",
    messagingSenderId: "487751761429"
  };
  firebase.initializeApp(config);
</script>

<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1>
<!-- <app-heroes></app-heroes> -->
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
  </nav>
 <router-outlet></router-outlet> 
 <app-messages></app-messages>